* {
    margin: 0%;
    padding: 0;
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-style: oblique;
    margin: 30px 0;
    background-color:black;
    color: white;
    padding: 10px;    
}

select,button {
    cursor: pointer;
    border: none;
    margin: 30px 0;
    outline: none;
    color: white;
    background-color: black;
    padding: 10px;s
    font:100 1.2rem sans-serif;

    
}

select {
    flex: auto;
    transition: 5s;
    flex-direction: column;
}

button {
    background-color: blue;
}